<template>
    <v-layout v-bind="row_mdAndUp">
        <v-flex xs12 sm12 md8>
            <v-layout v-bind="column_xs">
                <v-flex xs12 sm6>
                    <slot name="one"></slot>
                </v-flex>
                <v-flex xs12 sm6>
                    <slot name="two"></slot>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12 sm12 md8>
            <v-layout v-bind="column_xs">
                <v-flex xs12 sm6>
                    <slot name="three"></slot>
                </v-flex>
                <v-flex xs12 sm6>
                    <slot name="four"></slot>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    computed: {
        row_mdAndUp () {
            const binding = {};

            if (this.$vuetify.breakpoint.mdAndUp) {
                binding.row = true;
            } else {
                binding.column = true;
            }

            return binding;
        },
        column_xs () {
            const binding = {};

            if (this.$vuetify.breakpoint.smAndUp) {
                binding.row = true;
            } else {
                binding.column = true;
            }

            return binding;
        }
    }
};
</script>

