<template>
<v-card>
    <n-process-toolbar
        tituloBig="Indicadores clinicos"
        tituloSmall="Indicadores clinicos">
    </n-process-toolbar>
    <v-progress-linear v-if="cargandoDatos" indeterminate/>
    <v-container v-else grid-list-lg>
        <v-layout row>
            <v-flex xs12>
                <h4>Antecedentes de salud/enfermedad</h4>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12>
                Problemas actuales
            </v-flex>
        </v-layout>
        <n-checks-group
            item-text="nombre"
            item-value="activo"
            :items="padecimientos"></n-checks-group>
        <v-layout row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="problemasActuales.otros"
                    label="Otros"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="problemasActuales.observaciones"
                    label="Observaciones"></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="problemasActuales.enfermedadesDiagnosticadas"
                    label="Enfermedades diagnosticadas"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
                <v-text-field
                    v-model="problemasActuales.enfermedadesImportantes"
                    label="Enfermedades importantes padecidas"></v-text-field>
            </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row>
            <v-flex xs12>
                Medicamentos que toma
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 :key="index"
                v-for="(medicamento, index) in medicamentos">
                <v-checkbox
                    color="primary"
                    v-model="medicamento.activo"
                    :label="medicamento.nombre"></v-checkbox>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12>
                Antecedentes familiares
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 :key="index"
                v-for="(antecedente, index) in antecedentesFamiliares">
                <v-checkbox
                    color="primary"
                    v-model="antecedente.activo"
                    :label="antecedente.nombre"></v-checkbox>
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12 text-xs-center>
                <v-btn
                    :loading="guardandoDatos"
                    @click.stop="guardarDatos"
                    color="primary" >Guardar</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script>
import messager from "../../../../mixins/messager";
import NChecksGroup from "../../../../components/pacientes/consultas/indicadores_clinicos/NChecksGroup";

const buildUpdateArrays = (objectArray) => {
    const ids = [];
    const activos = [];
    objectArray.forEach(object => {
        ids.push(object.id);
        activos.push(object.activo);
    });
    let idsString = "[" + ids.join(",") + "]";
    let activosString = "[" + activos.join(",") + "]";
    return [idsString, activosString];
};

export default {
    mixins: [messager],
    data () {
        return {
            idPaciente: this.$route.params.id,
            cargandoDatos: true,
            guardandoDatos: false,
            padecimientos: [],
            medicamentos: [],
            antecedentesFamiliares: [],
            problemasActuales: {},
        };
    },
    methods: {
        cargarDatos () {
            this.cargandoDatos = true;
            this.$graph(`{getPadecimientos(idPaciente: ${this.idPaciente}){id nombre activo}getProblemasActuales(idPaciente: ${this.idPaciente}){id otros observaciones enfermedadesImportantes enfermedadesDiagnosticadas}getMedicamentos(idPaciente: ${this.idPaciente}){id nombre activo}getAntecedentesFamiliares(idPaciente: ${this.idPaciente}){id nombre activo}}`)
                .then(data => {
                    this.padecimientos = data.getPadecimientos;
                    this.problemasActuales = data.getProblemasActuales;
                    this.medicamentos = data.getMedicamentos;
                    this.antecedentesFamiliares = data.getAntecedentesFamiliares;
                    this.cargandoDatos = false;
                }).catch(error => {
                    this.errorMessage(error);
                });
        },
        guardarDatos () {
            this.guardandoDatos = true;
            let queryString = "mutation{";

            let stringArrays = buildUpdateArrays(this.padecimientos);
            queryString += `updatePadecimientoPaciente(ids: ${stringArrays[0]} activos: ${stringArrays[1]}){id}`;

            stringArrays = buildUpdateArrays(this.medicamentos);
            queryString += `updateMedicamentoPaciente(ids: ${stringArrays[0]} activos: ${stringArrays[1]}){id}`;

            stringArrays = buildUpdateArrays(this.antecedentesFamiliares);
            queryString += `updateAntecedentePaciente(ids: ${stringArrays[0]} activos: ${stringArrays[1]}){id}`;

            queryString += `updateProblemaActual(id: ${this.problemasActuales.id} otros: "${this.problemasActuales.otros}" observaciones: "${this.problemasActuales.observaciones}" enfermedadesDiagnosticadas: "${this.problemasActuales.enfermedadesDiagnosticadas}" enfermedadesImportantes: "${this.problemasActuales.enfermedadesImportantes}"){id}`;

            queryString += "}";
            this.$graph(queryString).then(data => {
                this.guardandoDatos = false;
                this.successMessage("Informacion guardada");
                this.cargarDatos();
            }).catch(error => {
                this.errorMessage(error);
            });
        }
    },
    mounted () {
        this.cargarDatos();
    },
    components: {
        NChecksGroup
    }
};
</script>

