<template>
<v-card>
     <n-process-toolbar
        tituloBig="Estilo de vida"
        tituloSmall="Estilo de vida">
    </n-process-toolbar>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12>
                <h4>Intensidad de actividad física</h4>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 sm4 md3>
                <v-radio-group v-model="idIntencidadFisica">
                    <v-radio
                        v-for="intensidad in intensidadesFisicas"
                        :key="intensidad.id"
                        :value="intensidad.id"
                        :label="intensidad.nombre" color="primary"></v-radio>
                </v-radio-group>
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-layout row wrap>
                    <v-flex xs12>
                        <h4>Ejercicio</h4>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <n-select
                            dense
                            label="Frecuencia"
                            item-text="nombre"
                            item-value="id"
                            v-model="idFrecuenciaEjercicio"
                            :items="frecuenciasEjercico"></n-select>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <n-select
                            dense
                            label="Duracion"
                            item-text="nombre"
                            item-value="id"
                            v-model="idDuracionEjercicio"
                            :items="duraciones"></n-select>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <n-date-picker
                            v-model="fechaInicioEjercicio"
                            label="¿Cuando inicio?"></n-date-picker>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs12>
                <v-text-field
                    label="Aspecto general (cabello, ojos, piel, uñas, etc)"
                    rows="3"
                    maxlength="500"
                    :counter="500"
                    v-model="aspectoGeneral"
                    textarea>
                </v-text-field>
            </v-flex>
            <v-flex xs12 text-xs-center>
                <v-btn
                    @click="guardarDatos"
                    :loading="guardandoDatos"
                    color="primary">Guardar</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script>
import graphFactory from "../../../../local_modules/graphfactory";
import messager from "../../../../mixins/messager";
export default {
    asyncData(context) {
        return new Promise((resolve, reject) => {
            graphFactory(context)(`{getIntensidadesFisicas{id nombre}getPacientes(id: ${context.params.id}){aspectoGeneral fechaInicioEjercicio instensidadFisica{id}frecuenciaEjercicio{id}duracionEjercicio{id}}getFrecuenciasEjercicio{id nombre}getDuracionesEjercicio{id nombre}}`)
                .then(data => {
                    const paciente = data.getPacientes[0];
                    resolve({
                        intensidadesFisicas: data.getIntensidadesFisicas,
                        idIntencidadFisica: paciente.instensidadFisica.id,
                        frecuenciasEjercico: data.getFrecuenciasEjercicio,
                        idFrecuenciaEjercicio: paciente.frecuenciaEjercicio ?
                            paciente.frecuenciaEjercicio.id : null,
                        duraciones: data.getDuracionesEjercicio,
                        idDuracionEjercicio: paciente.duracionEjercicio ?
                            paciente.duracionEjercicio.id : null,
                        fechaInicioEjercicio: paciente.fechaInicioEjercicio,
                        aspectoGeneral: paciente.aspectoGeneral
                    });
                }).catch(error => reject(error));
        });
    },
    mixins: [messager],
    data(){
        return {
            guardandoDatos: false,
        };
    },
    methods: {
        guardarDatos(){
            this.guardandoDatos = true;
            this.$graph(`
                mutation {
                updateEjercicios(idPaciente: ${this.$route.params.id}
                    idIntencidadFisica: ${this.idIntencidadFisica} idFrecuenciaEjercicio: ${this.idFrecuenciaEjercicio}
                    idDuracionEjercicio: ${this.idDuracionEjercicio} fechaInicioEjercicio: "${this.fechaInicioEjercicio}"
                    aspectoGeneral: "${this.aspectoGeneral}") {
                    id
                }
                }
            `).then(data => {
                this.successMessage("Datos guardados");
                this.$router.push("/pacientes/consultas/estilodevida/" + this.$route.params.id);
                this.guardandoDatos = false;
            }).catch(error => {
                this.errorMessage(error);
            })
        },
    }
};
</script>
