<template>
<v-card>
    <n-process-toolbar
        tituloBig="Editor de paciente"
        tituloSmall="Editor">
    </n-process-toolbar>

    <v-container grid-list-md>
        <v-layout row wrap>
            <v-flex xs12 text-xs-center class="subheading">Generales</v-flex>

            <v-flex xs12 sm6 md4>
                <v-text-field
                    v-model="paciente.nombre"
                    label="Nombre"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <v-text-field
                    v-model="paciente.apellidoPaterno"
                    label="Apellido paterno"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <v-text-field
                    v-model="paciente.apellidoMaterno"
                    label="Apellido materno"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <p class="body-1">Genero</p>
                <v-radio-group
                    v-model="paciente.sexo"
                    row>
                    <v-radio
                        color="primary"
                        value="M"
                        label="Masculino"></v-radio>
                    <v-radio
                        color="primary"
                        value="F"
                        label="Femenino"></v-radio>
                </v-radio-group>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <n-date-picker
                    v-model="paciente.fechaNacimiento"
                    label="Fecha de nacimiento"></n-date-picker>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <v-text-field
                    mask="phone"
                    v-model="paciente.telefono"
                    label="Telefono"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <n-select
                    v-model="paciente.estadoCivil.id"
                    :items="estadosCiviles"
                    item-value="id"
                    item-text="nombre"
                    label="Estado civil"></n-select>
            </v-flex>

            <v-divider/>
            <v-flex xs12 text-xs-center class="subheading">Direccion</v-flex>

            <v-flex xs12 sm6 md4>
                <n-select
                    v-model="paciente.pais.id"
                    :items="paises"
                    item-value="id"
                    item-text="nombre"
                    @change="cargarEntidades"
                    label="Pais"></n-select>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <n-select
                    v-model="paciente.entidadFederativa.id"
                    :disabled="paciente.pais.entidadesFederativas.length < 1"
                    :items="paciente.pais.entidadesFederativas"
                    item-value="id"
                    item-text="nombre"
                    autocomplete
                    @change="cargarMunicipios"
                    :loading="cargandoEntidades"
                    label="Entidad federativa"></n-select>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <n-select
                    v-model="paciente.municipio.id"
                    :items="paciente.entidadFederativa.municipios"
                    :disabled="paciente.entidadFederativa.municipios.length < 1"
                    :loading="cargandoMunicipios"
                    item-value="id"
                    item-text="nombre"
                    autocomplete
                    @change="cargarColonias"
                    label="Municipio"></n-select>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <n-select
                    v-model="paciente.colonia.id"
                    :items="paciente.municipio.colonias"
                    item-value="id"
                    item-text="nombre"
                    autocomplete
                    :loading="cargandoColonias"
                    label="Colonia"></n-select>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <v-text-field
                    v-model="paciente.calle"
                    label="Calle"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6 md4>
                <v-text-field
                    v-model="paciente.numeroCalle"
                    label="Numero"></v-text-field>
            </v-flex>

            <v-flex xs12>
                <v-text-field
                    v-model="paciente.referencias"
                    textarea
                    rows="3"
                    label="Referencias"></v-text-field>
            </v-flex>

            <v-flex xs12 text-xs-center>
                <v-btn
                    :loading="guardandoDatos"
                    @click="guardarDatos"
                    color="primary" small>Guardar</v-btn>
            </v-flex>

        </v-layout>
    </v-container>

</v-card>
</template>

<script>
import messager from "~/mixins/messager";
import graphFactory from "~/local_modules/graphfactory";

export default {
    asyncData(context) {
        return new Promise((resolve, reject) => {
            const graph = graphFactory(context);
            const dataEditor = {
                paciente: {
                    nombre: "", apellidoPaterno: "", apellidoMaterno: "",
                    sexo: "M", fechaNacimiento: "", telefono: "",
                    estadoCivil: {id: null},
                    pais: {id: null, entidadesFederativas:[]},
                    entidadFederativa: {id: null, municipios: []},
                    municipio: {id: null, colonias: []},
                    colonia: {id: null},
                    calle: "", numeroCalle: "", referencias: ""
                },
                estadosCiviles: [],
                paises: []
            };

            graph(`{getEstadosCiviles{id nombre} getPaises{id nombre}}`).then(data => {
                dataEditor.estadosCiviles = data.getEstadosCiviles;
                dataEditor.paises = data.getPaises;
                if (context.params.id) {
                    graph(`{getPacientes(id: ${context.params.id}){nombre apellidoPaterno apellidoMaterno sexo fechaNacimiento  telefono  estadoCivil{  id  }  direccion  {  pais  {  id  }  calle  numero  referencias  }  direccion{pais{id entidadesFederativas{id nombre}}entidadFederativa{id municipios{id nombre}}municipio{id colonias{id nombre}}colonia{id} calle numero referencias}}}`)
                        .then(data => {
                            if (data.getPacientes.length > 0) {
                                const paciente = data.getPacientes[0];
                                Object.keys(paciente.direccion).forEach(key => {
                                    paciente[key] = paciente.direccion[key];
                                });
                                dataEditor.paciente = paciente;
                                resolve(dataEditor);
                            } else {
                                context.redirect("/historial_clinico")
                            }
                        }).catch(error => {
                            reject(error);
                        });
                } else {
                    resolve(dataEditor);
                }
            }).catch(error => reject(error));
        });
    },
    mixins: [messager],
    data(){
        return {
            cargandoEntidades: false,
            cargandoMunicipios: false,
            cargandoColonias: false,
            guardandoDatos: false
        };
    },
    methods: {
        cargarEntidades(){
            const idPais = this.paciente.pais.id;
            if (idPais === null) {
                this.paciente.pais.entidadesFederativas = [];
            } else {
                this.cargandoEntidades = true;
                this.$graph(`{getEntidadesFederativas(idPais: ${idPais}){id nombre}}`)
                    .then(data => {
                        this.paciente.pais.entidadesFederativas
                            = data.getEntidadesFederativas;
                        this.cargandoEntidades = false;
                    }).catch(error => {
                        this.errorMessage(error);
                    });
            }
        },
        cargarMunicipios(){
            const idEntidad = this.paciente.entidadFederativa.id;
            if (idEntidad === null) {
                this.paciente.entidadFederativa.municipios = [];
            } else {
                this.cargandoMunicipios = true;
                this.$graph(`{getMunicipios(idEntidadFederativa: ${idEntidad}){id nombre}}`).then(data => {
                        this.paciente.entidadFederativa.municipios
                            = data.getMunicipios;
                        this.cargandoMunicipios = false;
                    }).catch(error => {
                        this.errorMessage(error);
                    });
            }
        },
        cargarColonias(){
            const idMunicipio = this.paciente.municipio.id;
            if (idMunicipio === null) {
                this.paciente.municipio.colonias = [];
            } else {
                this.cargandoColonias = true;
                this.$graph(`{getColonias(idMunicipio: ${idMunicipio}){id nombre}}`).then(data => {
                        this.paciente.municipio.colonias
                            = data.getColonias;
                        this.cargandoColonias = false;
                    }).catch(error => {
                        this.errorMessage(error);
                    });
            }
        },
        guardarDatos(){
            let tipoOperacion = "mutation {";
            if(this.$route.params.id) {
                tipoOperacion += `updatePaciente(id: ${this.$route.params.id} `;
            } else {
                tipoOperacion += `addPaciente(`;
            }
            tipoOperacion += `
                nombre: "${this.paciente.nombre}",
                apellidoPaterno: "${this.paciente.apellidoPaterno}",
                apellidoMaterno: "${this.paciente.apellidoMaterno}",
                fechaNacimiento: "${this.paciente.fechaNacimiento}",
                telefono: "${this.paciente.telefono}",
                idEstadoCivil: ${this.paciente.estadoCivil.id | 0},
                sexo: "${this.paciente.sexo}",
                idColonia: ${this.paciente.colonia.id | 0},
                calle: "${this.paciente.calle}",
                numeroCalle: "${this.paciente.numeroCalle}",
                referencias: "${this.paciente.referencias}",
            ){id}}`;
            this.guardandoDatos = true;
            this.$graph(tipoOperacion).then(data => {
                if (this.$route.params.id) {
                    this.successMessage("Paciente actualizado");
                    this.$router
                        .push(`/historial_clinico`);
                } else {
                    this.successMessage("Paciente guardado");
                    this.$router
                        .push(`/historial_clinico`);
                }
                this.guardandoDatos = false;
            }).catch(error => {
                this.warningMessage(error);
                this.guardandoDatos = false;
            });
        }
    }
}
</script>

