<template>
<v-card>
    <n-process-toolbar
        tituloBig="Frecuencia de consumo de alimentos"
        tituloSmall="Alimentacion">
    </n-process-toolbar>
    <v-progress-linear v-if="cargandoDatos" indeterminate/>
    <v-container v-else fluid>
        <v-layout row>
            <v-flex xs12 text-xs-center>
                <h3>{{nombrePaciente}}</h3>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12>
                <n-categorias-alimentos
                    :id-paciente="idPaciente"
                    :categorias="categorias"/>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script>
import NCategoriasAlimentos from "../../../../components/pacientes/consultas/frecuencia_alimentos/NCategoriasAlimentos.vue";
import messager from "../../../../mixins/messager";
export default {
    mixins: [messager],
    data () {
        return {
            idPaciente: this.$route.params.id,
            nombrePaciente: "",
            categorias: [],
            cargandoDatos: true
        };
    },
    mounted () {
        this.$graph(`mutation{
                updateRelacionAlimentosPaciente{
                    id
                }
            }`).then(() => {
                this.$graph(`{
                    getPacientes(id:${this.idPaciente}){nombre apellidoPaterno apellidoMaterno}
                    getCategoriasAlimentos{id nombre}
                }`)
                    .then(data => {
                        const paciente = data.getPacientes[0] || {};
                        this.nombrePaciente = `${paciente.nombre} ${paciente.apellidoPaterno} ${paciente.apellidoMaterno}`;
                        this.categorias = data.getCategoriasAlimentos;
                        this.cargandoDatos = false;
                    })
                    .catch(error => {
                        this.errorMessage(error);
                    });
            }).catch(error => {
                        this.errorMessage(error);
                    });
    },
    components: {
        NCategoriasAlimentos
    }
};
</script>
