<template>
    <v-menu
        ref="menu"
        lazy
        :close-on-content-click="false"
        v-model="menuOpened"
        transition="scale-transition"
        offset-y
        full-width
        :nudge-right="40"
        min-width="290px"
        :return-value.sync="fechaSeleccionada"
    >
        <v-text-field
            slot="activator"
            :label="label"
            v-model="fechaSeleccionada"
            readonly
        >
        </v-text-field>
        <v-date-picker
            min="1950-01-01"
            :max="new Date().toISOString().substr(0, 10)"
            ref="picker"
            locale="es"
            v-model="fechaSeleccionada"
            no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn flat color="primary" @click="menuOpened = false">Cancel</v-btn>
            <v-btn flat color="primary" @click="$refs.menu.save(fechaSeleccionada)">OK</v-btn>
        </v-date-picker>
    </v-menu>
</template>

<script>
export default {
    props: {
        value: {
            type: String
        },
        label: {
            type: String,
            default () {
                return "Fecha";
            }
        }
    },
    name: "n-date-text-picker",
    watch: {
        fechaSeleccionada (nuevaFecha) {
            this.$emit("input", nuevaFecha);
        },
        menuOpened (val) {
            val && this.$nextTick(() => (this.$refs.picker.activePicker = "YEAR"));
        }
    },
    data () {
        return {
            fechaSeleccionada: this.value,
            menuOpened: false
        };
    }
};
</script>
