<template>
    <v-dialog
        ref="dialog"
        persistent
        v-model="dialogFecha"
        lazy
        full-width
        :width="width"
        :return-value.sync="fechaInterna"
    >
        <v-text-field
            slot="activator"
            :label="label"
            v-model="fechaInterna"
            readonly
        ></v-text-field>
        <v-date-picker
            min="1950-01-01"
            :max="new Date().toISOString().substr(0, 10)"
            ref="picker"
            v-model="fechaInterna"
            locale="es"
            :width="width"
            scrollable>
        <v-spacer></v-spacer>
        <v-btn flat color="primary" @click="dialogFecha = false">Cancelar</v-btn>
        <v-btn flat color="primary" @click="$refs.dialog.save(fechaInterna)">OK</v-btn>
        </v-date-picker>
    </v-dialog>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default () {
                return "";
            }
        },
        label: {
            type: String,
            default () {
                return "Fecha";
            }
        },
        width: {
            type: [Number, String],
            default () {
                return "230";
            }
        }
    },
    watch: {
        fechaInterna (newFecha) {
            this.$emit("input", newFecha);
        },
        dialogFecha (val) {
            val && this.$nextTick(() => (this.$refs.picker.activePicker = "YEAR"));
        }
    },
    data () {
        return {
            fechaInterna: this.value,
            dialogFecha: false
        };
    },
    name: "n-date-dialog-picker"
};
</script>
