<template>
    <v-dialog
        :max-width="maxWidth"
        v-model="open">
        <v-card>
            <v-toolbar card dark color="primary">
                <v-icon>warning</v-icon>
                <v-toolbar-title>{{titulo}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <p>{{message}}</p>
            </v-card-text>
            <v-card-actions>
                <v-btn
                    @click="onConfirmar"
                    :loading="loading" color="primary">{{btnConfirmarText}}</v-btn>
                <v-btn
                    @click="open = false"
                    :disabled="loading">{{btnCancelarText}}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: {
        value: {type: Boolean, required: true},
        titulo: { type: String, default () { return "Confirmacion"; } },
        maxWidth: { type: [String, Number], default () { return 400; } },
        message: {type: String, required: true},
        loading: {type: Boolean, default () { return false; }},
        btnConfirmarText: {type: String, default () { return "Confirmar"; }},
        btnCancelarText: {type: String, default () { return "Cancel"; }}
    },
    data () {
        return {
            open: this.value
        };
    },
    watch: {
        value (newValue) {
            if (newValue !== this.open) {
                this.open = newValue;
            }
        },
        open (isOpen) {
            if (!isOpen) {
                this.$emit("input", isOpen);
            }
        }
    },
    methods: {
        onConfirmar () {
            this.$emit("onConfirmar");
        }
    }
};
</script>

