<template>
<v-toolbar dense card color="green lighten-4">
    <v-toolbar-title>
        <div class="hidden-sm-and-down">{{tituloBig}}</div>
        <div class="hidden-md-and-up">{{tituloSmall}}</div>
    </v-toolbar-title>

    <v-spacer></v-spacer>

    <slot></slot>
</v-toolbar>
</template>

<script>
export default {
    props: {
        tituloBig: {
            type: String,
            required: true
        },
        tituloSmall: {
            type: String,
            required: true
        }
    }
};
</script>