<template>
    <n-date-picker-dialog
        :width="isMobile ? '230' : '300'"
        :label="label"
        v-model="fecha">
    </n-date-picker-dialog>
</template>

<script>
import NDatePickerDialog from "./NDatePickerDialog";
import NDatePickerText from "./NDatePickerText";
export default {
    props: {
        value: {type: String},
        label: {type: String, default () { return ""; }}
    },
    data () {
        return {
            fecha: this.value
        };
    },
    watch: {
        fecha (nuevaFecha) {
            this.$emit("input", nuevaFecha);
        }
    },
    computed: {
        isMobile () {
            return this.$vuetify.breakpoint.name === "xs";
        }
    },
    components: {
        NDatePickerDialog
    }
};
</script>

