<template>
<div>
<v-select
    :items="items"
    :label="label"
    :item-text="itemText"
    :item-value="itemValue"
    :dense="dense"
    :loading="loading"
    :autocomplete="autocomplete"
    :clearable="clearable"
    :disabled="disabled"
    :readonly="isMobile"
    @click.native="clicked"
    :multiple="multiple"
    v-model="val"></v-select>

<v-dialog
    scrollable
    max-width="300"
    v-model="seleccionDialog">
    <v-card>
        <v-toolbar card dense
            dark
            color="primary">
            <v-btn icon small dark @click.stop="seleccionDialog = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>{{label}}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-list>
                <v-list-tile
                    @click="selectItem(item[itemValue])"
                    v-for="(item,index) in items" :key="index">
                    <v-list-tile-action v-if="multiple">
                        <v-checkbox color="primary"/>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{item[itemText]}}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-card-text>
    </v-card>
</v-dialog>

</div>
</template>

<script>
export default {
    props: {
        value: [String, Number, Array],
        items: {
            type: Array,
            required: true
        },
        label: {
            type: String,
            default () {
                return "";
            }
        },
        itemText: {
            type: String,
            default () {
                return "text";
            }
        },
        itemValue: {
            type: String,
            default () {
                return "value";
            }
        },
        dense: {
            type: Boolean,
            default () {
                return false;
            }
        },
        loading: {
            type: Boolean,
            default () {
                return false;
            }
        },
        autocomplete: {
            type: Boolean,
            default () {
                return false;
            }
        },
        clearable: {
            type: Boolean,
            default () {
                return false;
            }
        },
        disabled: {
            type: Boolean,
            default () {
                return false;
            }
        },
        multiple: {
            type: Boolean,
            default () {
                return false;
            }
        }
    },
    data () {
        return {
            val: this.value,
            seleccionDialog: false
        };
    },
    watch: {
        value (newValue) {
            this.val = newValue;
        },
        val (newVal, lastVal) {
            this.$emit("input", newVal);
            if (lastVal !== newVal && newVal !== this.value) {
                this.$emit("change", this.newVal);
            }
        },
        items () {
            this.val = this.value;
        }
    },
    computed: {
        isMobile () {
            return this.$vuetify.breakpoint.name === "xs" && ! this.multiple;
        }
    },
    methods: {
        selectItem (val) {
            this.seleccionDialog = false;
            if (this.multiple) {
                this.val.push(val);
            } else {
                /** Un select normal */
                this.val = val;
            }
        },
        clicked () {
            if (this.isMobile) {
                this.seleccionDialog = true;
            }
        }
    },
    mounted () {
        this.val = this.value;
    }
};
</script>

