<template>
    <v-dialog
        v-model="value"
        max-width="400"
        transition="dialog-bottom-transition">
        <v-card tile>
            <v-toolbar card dark color="primary">
                <v-btn icon @click.native="cerrar" dark>
                    <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>Error en la conexion</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                Se presento un problema al conectar con el servidor
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: {
        value: {
            type: Boolean,
            default () {
                return false;
            }
        }
    },
    methods: {
        cerrar () {
            this.$emit("input", false);
        }
    }
};
</script>

