<template>
    <v-container grid-list-md>
        <v-layout row>
            <v-flex xs12 text-xs-center>
                <v-progress-circular
                    indeterminate
                    :size="70"
                    :width="7"
                    color="primary"></v-progress-circular>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
}
</script>

