<template>
    <v-card>
        <v-layout row>
            <v-flex xs5>
                <v-icon color="primary" size="100px">{{icon}}</v-icon>
            </v-flex>
            <v-flex xs7 class="description-container">
                <h3>{{titulo}}</h3>
                <p>{{descripcion}}</p><br/>
                <v-btn small flat
                    :to="referencia"
                    color="primary">Ingresar</v-btn>
            </v-flex>
        </v-layout>
    </v-card>
</template>

<script>
export default {
    props: {
        titulo: {
            type: String,
            default () {
                return "Sin titulo";
            }
        },
        descripcion: {
            type: String,
            default () {
                return "Sin descripcion";
            }
        },
        referencia: {
            type: String,
            required: true
        },
        icon: {
            type: String,
            default () {
                return "clear";
            }
        }
    },
    methods: {
        clickHandler () {
            this.$router.push(this.referencia);
        }
    }
};
</script>

<style scoped>
.description-container {
    font-size: 11px;
}
.main-card-image {
    width: 100px;
    height: 100px;
    border-radius: 2px;
}
</style>
