    <template>
<v-card>
    <n-process-toolbar
        tituloBig="Consultas"
        tituloSmall="Consultas">
    </n-process-toolbar>
    <v-container grid-list-md fluid>
        <v-layout row>
            <v-flex xs12 text-xs-center>
                <h3>{{paciente.nombre}}
                    {{paciente.apellidoPaterno}} {{paciente.apellidoMaterno}}</h3>
            </v-flex>
        </v-layout>
        <v-layout row v-if="cargandoDatos">
            <v-flex xs12 text-xs-center>
                <v-progress-circular
                        indeterminate
                        :size="70"
                        :width="7"
                        color="primary"></v-progress-circular>
            </v-flex>
        </v-layout>
        <v-layout row v-else>
            <v-flex
                xl4 offset-xl4
                lg6 offset-lg3
                md8 offset-md2
                sm10 offset-sm1
                xs12 offset-xs0>
                <v-card>
                <v-list>
                    <n-seccion
                        v-for="(seccion,index) in secciones" :key="index"
                        :liga="seccion.liga"
                        :idPaciente="idPaciente"
                        :icono="seccion.icono"
                        :titulo="seccion.titulo"></n-seccion>
                </v-list>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script>
import NSeccion from "../../../components/pacientes/consultas/NSeccion";
import messager from "../../../mixins/messager";
export default {
    mixins: [messager],
    data () {
        return {
            idPaciente: this.$route.params.id,
            cargandoDatos: true,
            paciente: {},
            secciones: [
                {
                    titulo: "Indicadores clinicos",
                    icono: "local_hospital",
                    liga: "indicadoresclinicos"
                },
                {
                    titulo: "Estilo de vida",
                    icono: "weekend",
                    liga: "estilodevida"
                },
                {
                    titulo: "Indicadores dieteticos",
                    icono: "local_dining",
                    liga: "indicadoresdieteticos"
                },
                {
                    titulo: "Frecuencia de consumo de alimentos",
                    icono: "local_pizza",
                    liga: "frecuenciaalimentos"
                },
                {
                    titulo: "Indicadores antropometricos",
                    icono: "accessibility",
                    liga: "indicadoresantropometricos"
                }
            ]
        };
    },
    mounted () {
        this.$graph(`{getPacientes(id:${this.idPaciente}){nombre apellidoPaterno apellidoMaterno}}`)
            .then(data => {
                this.paciente = (data.getPacientes[0])
                    ? data.getPacientes[0] : {};
                this.cargandoDatos = false;
            })
            .catch(error => {
                this.errorMessage(error);
            });
    },
    components: {
        NSeccion
    }
};
</script>

