// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.page
    @extend .fade-transition

/**
    Change input apearence for text-fields and selects
*/
.input-group__input > input {
    border-style: solid solid none;
    border-width: 1px;
    border-color: #b2b2b2;
    padding-left: 5px;
}

.input-group--select > .input-group__input {
    border-style: solid solid none;
    border-width: 1px;
    border-color: #b2b2b2;
}

.input-group--text-field > label {
    margin-left: 5px;
}

.input-group__selections__comma {
    margin-left: 5px !important;
}
