<template>
<v-app>
    <v-toolbar
        fixed app
        color="primary"
        dark
        :clipped-left="clipped">
        <v-toolbar-side-icon to="/">
            <v-icon>restaurant</v-icon>
        </v-toolbar-side-icon>
        <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <v-content>
        <v-container>
        <nuxt />
        </v-container>
    </v-content>
    <v-footer
        :fixed="true"
        color="primary"
        dark
        app>
        <span>&copy; 2018</span>
    </v-footer>
    <v-snackbar
        :timeout="2500"
        :top="true"
        :right="true"
        :multi-line="true"
        v-model="snackbar"
        :color="tipoMensaje"
    >
        <h4>{{mensajeGlobal}}</h4>
    </v-snackbar>
</v-app>
</template>

<script>
export default {
    data () {
        return {
            clipped: false,
            drawer: true,
            fixed: false,
            miniVariant: false,
            right: true,
            rightDrawer: false,
            title: "Nutricion"
        };
    },
    computed: {
        snackbar: {
            get () {
                return this.$store.state.mostrandoMensaje;
            },
            set (nuevoValor) {
                this.$store.commit("ocultarMensaje");
            }
        },
        mensajeGlobal () {
            return this.$store.state.mensajeGlobal;
        },
        tipoMensaje () {
            return this.$store.state.tipoMensaje;
        }
    }
};
</script>
