<template>
    <v-list-tile :to="`/pacientes/consultas/${liga}/${idPaciente}`">
        <v-list-tile-action>
            <v-icon>{{icono}}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
            <v-list-tile-title>{{titulo}}</v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
</template>

<script>
export default {
    props: {
        idPaciente: {type: [Number, String], required: true},
        icono: {type: String, required: true},
        titulo: {type: String, required: true},
        liga: {type: String, required: true}
    }
};
</script>

