<template>
    <v-card class="card--flex-toolbar">
        <n-process-toolbar
            tituloBig="Catalogo de pacientes"
            tituloSmall="Pacientes">
            <div>
                <v-btn
                    icon flat
                    to="pacientes/editor_v2"
                    color="primary">
                    <v-icon dark>add</v-icon>
                </v-btn>
            </div>
        </n-process-toolbar>
        <v-card-text>
            <v-data-table
                :loading="cargandoPacientes"
                :headers="headers"
                :items="pacientes">
                <template slot="no-data">
                    No hay pacientes para mostrar
                </template>
                <template slot="items" slot-scope="props">
                    <tr @click="props.expanded = !props.expanded">
                        <td>
                            {{props.item.nombre}}
                            <div class="hidden-sm-and-up">
                                {{props.item.apellidoPaterno}}
                            </div>
                            <div class="hidden-sm-and-up">
                                {{props.item.apellidoMaterno}}
                            </div>
                        </td>
                        <td class="hidden-xs-only">
                            {{props.item.apellidoPaterno}}
                            <div class="hidden-lg-and-up">
                                {{props.item.apellidoMaterno}}
                            </div>
                        </td>
                        <td class="hidden-md-and-down">
                            {{props.item.apellidoMaterno}}
                        </td>
                        <td>{{props.item.edad}}</td>
                        <td class="hidden-xs-only">
                            <v-tooltip top>
                                <v-btn icon flat slot="activator"
                                    :to="'pacientes/editor_v2/' + props.item.id"
                                    color="indigo">
                                    <v-icon>mode_edit</v-icon>
                                </v-btn>
                                <span>Editar</span>
                            </v-tooltip>
                            <v-tooltip top>
                                <v-btn icon flat slot="activator"
                                    :to="'pacientes/consultas/' + props.item.id"
                                    color="teal darken-2">
                                    <v-icon>folder_shared</v-icon>
                                </v-btn>
                                <span>Historial clinico</span>
                            </v-tooltip>
                            <v-btn
                                @click.stop="confirmarEliminacion(props.item.id)"
                                icon flat color="pink">
                                <v-icon>delete</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
                <template
                    v-if="subRow"
                    slot="expand"
                    slot-scope="props">
                    <v-card flat>
                        <v-card-text>
                            <v-tooltip top>
                                <v-btn icon flat slot="activator"
                                    :to="'pacientes/editor_v2/' + props.item.id"
                                    color="indigo">
                                    <v-icon>mode_edit</v-icon>
                                </v-btn>
                                <span>Editar</span>
                            </v-tooltip>
                            <v-tooltip top>
                                <v-btn icon flat slot="activator"
                                    :to="'pacientes/consultas/' + props.item.id"
                                    color="teal darken-2">
                                    <v-icon>folder_shared</v-icon>
                                </v-btn>
                                <span>Historial clinico</span>
                            </v-tooltip>
                            <v-btn
                                @click.stop="confirmarEliminacion(props.item.id)"
                                icon flat color="pink">
                                <v-icon>delete</v-icon>
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </template>
            </v-data-table>
        </v-card-text>

        <n-dialog-confirmacion
            :loading="eliminandoPaciente"
            @onConfirmar="eliminarPaciente"
            message="¿Confirma que desea dar de baja al paciente?"
            v-model="confirmandoEliminacion"></n-dialog-confirmacion>

    </v-card>
</template>

<script>
import messager from "../mixins/messager";
import graphFactory from "../local_modules/graphfactory";

export default {
    head () {
        return {
            title: "Pacientes"
        };
    },
    mixins: [messager],
    asyncData (context) {
        return new Promise((resolve, reject) => {
            graphFactory(context)("{getPacientes{id,nombre,apellidoPaterno,apellidoMaterno,edad}}")
                .then(data => {
                    resolve({pacientes: data.getPacientes});
                }).catch(error => reject(error));
        });
    },
    data () {
        return {
            cargandoPacientes: false,

            confirmandoEliminacion: false,
            idPacienteSeleccionado: undefined,
            eliminandoPaciente: false
        };
    },
    computed: {
        subRow () {
            return this.$vuetify.breakpoint.xs;
        },
        headers () {
            if (this.$vuetify.breakpoint.xs) {
                return [
                    {text: "Nombre", aling: "left", sortable: false},
                    {text: "Edad", aling: "left", sortable: false}
                ];
            } else if (this.$vuetify.breakpoint.mdAndDown) {
                return [
                    {text: "Nombre", aling: "left", sortable: false},
                    {text: "Apellidos", aling: "left", sortable: false},
                    {text: "Edad", aling: "left", sortable: false},
                    {text: "", aling: "left", sortable: false}
                ];
            } else {
                return [
                    {text: "Nombre", aling: "left", sortable: false},
                    {text: "Apellido Paterno", aling: "left", sortable: false},
                    {text: "Apellido Materno", aling: "left", sortable: false},
                    {text: "Edad", aling: "left", sortable: false},
                    {text: "", aling: "left", sortable: false}
                ];
            }
        }
    },
    methods: {
        async cargarPacientes () {
            try {
                this.cargandoPacientes = true;
                const data = await this.$graph("{getPacientes{id,nombre,apellidoPaterno,apellidoMaterno,edad}}");
                this.pacientes = data.getPacientes;
                this.cargandoPacientes = false;
            } catch (error) {
                this.errorMessage(error);
            }
        },
        confirmarEliminacion (idPaciente) {
            this.idPacienteSeleccionado = idPaciente;
            this.confirmandoEliminacion = true;
        },
        async eliminarPaciente () {
            try {
                this.eliminandoPaciente = true;
                const data = await this.$graph(`mutation{deletePaciente(id: ${this.idPacienteSeleccionado}){id}}`);
                this.successMessage("Paciente eliminado");
                this.eliminandoPaciente = false;
                this.confirmandoEliminacion = false;
                this.cargarPacientes();
            } catch (error) {
                this.errorMessage(error);
                this.eliminandoPaciente = false;
                this.confirmandoEliminacion = false;
            }
        }
    },
};
</script>

