<template>
<v-layout row justify-center align-center>
<v-flex xs12>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex xs12 sm6 md5>
                <n-main-card
                    icon="description"
                    titulo="Historial Clinico"
                    descripcion="Registro y control de los pacientes y sus consultas, ofrece una forma rapida de editar o actualizar dicha informacion"
                    referencia="/historial_clinico"></n-main-card>
            </v-flex>
            <v-flex xs12 sm6 md5>
                <n-main-card
                    icon="insert_chart"
                    titulo="Reportes"
                    descripcion="Registro y control de los pacientes y sus consultas, ofrece una forma rapida de editar o actualizar dicha informacion"
                    referencia="/reportes"></n-main-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-flex>
</v-layout>
</template>

<script>
import NMainCard from "~/components/index/NMainCard.vue";
export default {
    head () {
        return {
            title: "Nutricion, bienvenido",
        };
    },
    components: {
        NMainCard
    },
};
</script>
