<template>
<v-card>
    <n-process-toolbar
            tituloBig="Reportes"
            tituloSmall="Reportes"/>
    <v-container fluid>

        <v-tabs fixed-tabs>
            <v-tab>
            Padecimientos por sexo
            </v-tab>
            <v-tab>
            Actividad fisica por edad
            </v-tab>
            <v-tab>
            Grupos de alimentos
            </v-tab>
            <v-tab-item>
                <padecimientos-por-sexo />
            </v-tab-item>
            <v-tab-item>
                <intensidad-actividad-fisica-por-edad />
            </v-tab-item>
            <v-tab-item>
                <grupos-alimentos></grupos-alimentos>
            </v-tab-item>
        </v-tabs>
    </v-container>
</v-card>
</template>

<script>
import Chart from "chart.js";
import messager from "../mixins/messager";
import PadecimientosPorSexo from "../components/reportes/PadecimientosPorSexo";
import IntensidadActividadFisicaPorEdad from "../components/reportes/IntensidadActividadFisicaPorEdad";
import GruposAlimentos from "../components/reportes/GruposAlimentos";

export default {
    mixins: [messager],
    components: {
        PadecimientosPorSexo,
        IntensidadActividadFisicaPorEdad,
        GruposAlimentos
    }
};
</script>
