<template>
<v-card>
    <n-process-toolbar
        tituloBig="Indicadores antropometricos"
        tituloSmall="Indicadores antropometricos">
    </n-process-toolbar>
    <v-container grid-list-lg>
        <v-layout row wrap>
            <v-flex xs12>
                MEDICIÓN
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Peso actual (kg)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Peso habitual (kg)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Estatura (m)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Pliegue cutáneo tricipital (mm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Pliegue cutáneo bicipital (mm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Pliegue cutáneo subescapular (mm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Pliegue cutáneo suprailiaco (mm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Circunferencia de brazo (cm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Circunferencia de cintura (cm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Circunferencia de cadera (cm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Circunferencia abdominal (cm)" type="number"/>
            </v-flex>
            <v-flex xs12>
                EVALUACIÓN
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Complexión"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Peso teórico (kg)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="% Peso teórico" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="% Peso habitual" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Índice masa corporal (kg/m2)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="% Grasa corporal" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Grasa corporal total (kg)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Masa libre de grasa (kg)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="% Exceso o Deficiencia de grasa corporal" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Exceso o Deficiencia de grasa corporal (kg)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Pliegue cutáneo tricipital (percentil)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Pliegue cutáneo subescapular (percentil)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Índice cintura-cadera (cm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Circunferencia abdominal (cm)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Área muscular de brazo (cm2)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Masa muscular total (kg)" type="number"/>
            </v-flex>
            <v-flex xs12 sm4 md3>
                <v-text-field label="Agua corporal total (lt)" type="number"/>
            </v-flex>
            <v-flex xs12 text-xs-center>
                <v-btn color="primary">Guardar</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script>
import NProcessToolbar from "../../../../components/NProcessToolbar";
export default {
    components: {
        NProcessToolbar
    }
};
</script>
