<template>
<v-progress-linear v-if="cargandoDatos" indeterminate />
<v-expansion-panel v-else focusable>
    <v-expansion-panel-content
        v-for="(categoria) in categorias" :key="categoria.id">
        <div slot="header"
            style="font-weight: 500;"
            class=".title">{{categoria.nombre}}</div>
        <v-card>
            <v-card-text>
                <n-tabla-alimentos
                    :frecuencias-alimentos="frecuenciasAlimentos"
                    :id-paciente="idPaciente"
                    :id-categoria="categoria.id"/>
            </v-card-text>
        </v-card>
    </v-expansion-panel-content>
</v-expansion-panel>
</template>

<script>
import NTablaAlimentos from "./NTablaAlimentos.vue";
import messager from "../../../../mixins/messager";
export default {
    mixins: [messager],
    props: {
        idPaciente: {type: [Number, String], required: true},
        categorias: {type: Array, required: true}
    },
    data () {
        return {
            frecuenciasAlimentos: [],
            cargandoDatos: false
        };
    },
    mounted () {
        this.cargandoDatos = true;
        this.$graph("{getFrecuenciasAlimentos{id nombre}}")
            .then(data => {
                this.frecuenciasAlimentos = data.getFrecuenciasAlimentos || [];
                this.cargandoDatos = false;
            })
            .catch(error => {
                this.errorMessage(error);
            });
    },
    components: {
        NTablaAlimentos
    }
};
</script>
