<template>
    <v-data-table
        :headers="headers"
        hide-actions
        :items="alimentos">

        <template slot="no-data">
            No hay alimentos para mostrar
        </template>

        <template slot="items" slot-scope="p">
            <tr v-if="isMobile">
                <td>
                    {{p.item.nombre}}<br/>
                    <n-select
                        item-text="nombre"
                        item-value="id"
                        :items="frecuenciasAlimentos"
                        v-model="p.item.idFrecuencia"
                        @change="actualizarAlimento(p.item)"
                        :disabled="actualizando"
                        label="Frecuencia"></n-select>
                </td>
            </tr>
            <tr v-else>
                <td>{{p.item.nombre}}</td>
                <td>
                    <n-select
                        item-text="nombre"
                        item-value="id"
                        :items="frecuenciasAlimentos"
                        v-model="p.item.idFrecuencia"
                        @change="actualizarAlimento(p.item)"
                        :disabled="actualizando"
                        label="Frecuencia"></n-select>
                </td>
            </tr>
        </template>

    </v-data-table>
</template>

<script>
import NSelect from "../../../NSelect";
export default {
    props: {
        idPaciente: {type: [Number, String], required: true},
        idCategoria: {type: Number, required: true},
        frecuenciasAlimentos: {type: Array, required: true}
    },
    data () {
        return {
            alimentos: [],
            actualizando: false
        };
    },
    computed: {
        isMobile () {
            return this.$vuetify.breakpoint.name === "xs";
        },
        headers () {
            if (this.isMobile) {
                return [{text: "Nombre alimento", sortable: false}];
            } else {
                return [
                    {text: "Nombre alimento", sortable: false},
                    {text: "Frecuencia", sortable: false}
                ];
            }
        }
    },
    methods: {
        actualizarAlimento (alimento) {
            this.actualizando = true;
            this.$graph(`mutation{updateAlimentoPaciente(
                id: ${alimento.id}
                idFrecuencia: ${alimento.idFrecuencia || 0}){id}}`)
                .then(() => {
                    this.actualizando = false;
                })
                .catch(error => {
                    this.errorMessage();
                });
        }
    },
    mounted () {
        this.$graph(`{getAlimentoPaciente(
            idPaciente: ${this.idPaciente}
            idCategoria: ${this.idCategoria}) {id nombre idFrecuencia}}`)
            .then(data => {
                this.alimentos = data.getAlimentoPaciente;
            })
            .catch(error => {
                this.errorMessage(error);
            });
    },
    components: {
        NSelect
    }
};
</script>
