<template>
<v-card>
    <n-process-toolbar
        tituloBig="Indicadores dieteticos"
        tituloSmall="Indicadores dieteticos">
    </n-process-toolbar>
    <v-container grid-list-md>
        <v-layout row wrap>
            <v-flex xs12 sm6 md4>
                <v-text-field
                    label="Cantidad de comidas al dia"
                    v-model="comidasAlDia"
                    type="number"/>
            </v-flex>
            <v-flex xs12 sm6 md4>
                <n-select
                    :items="preparadores"
                    v-model="idPreparaAlimentos"
                    label="¿Quien prepara sus alimentos?"/>
            </v-flex>
            <v-flex xs12>
                Apetito
            </v-flex>
            <v-flex xs12>
                <v-radio-group v-model="idTipoApetito" row>
                    <v-radio
                        v-for="tipoApetito in tiposApetito"
                        :key="tipoApetito.value"
                        color="primary" :label="tipoApetito.text"
                        :value="tipoApetito.value" ></v-radio>
                </v-radio-group>
            </v-flex>
            <v-flex xs12 sm6 md4>
                <n-select
                    label="Hora de mas hambre"
                    :items="horasHambre"
                    v-model="idHoraMasHambre"/>
            </v-flex>
            <v-flex xs12 sm6 md4>
                <v-text-field
                    label="Vasos de agua natural al día:"
                    v-model="cantidadVasosAguaDia"
                    type="number"/>
            </v-flex>
            <v-flex xs12 sm6 md4>
                <v-text-field
                    label="Vasos de bebidas al día (leche, jugo, café):"
                    v-model="cantidadVasosBebidas"
                    type="number"/>
            </v-flex>
            <v-flex xs12 text-xs-center>
                <v-btn
                    @click="guardarDatos"
                    :loading="guardandoDatos" color="primary">Guardar</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script>
import graphFactory from "../../../../local_modules/graphfactory";
import messager from "../../../../mixins/messager";
export default {
    mixins: [messager],
    asyncData (context) {
        return new Promise((resolve, reject) => {
            graphFactory(context)(`{getAlimentos{id nombre}
            getIndicadoresDieteticos(idPaciente: ${context.params.id}) {
                    comidasAlDia
                    idPreparaAlimentos
                    idTipoApetito
                    idHoraMasHambre
                    cantidadVasosAguaDia
                    cantidadVasosBebidas
                }
            }`).then(data => {
                const indicadores = data.getIndicadoresDieteticos;
                resolve({
                    alimentos: data.getAlimentos,
                    comidasAlDia: indicadores.comidasAlDia,
                    idPreparaAlimentos: indicadores.idPreparaAlimentos,
                    idTipoApetito: indicadores.idTipoApetito,
                    idHoraMasHambre: indicadores.idHoraMasHambre,
                    cantidadVasosAguaDia: indicadores.cantidadVasosAguaDia,
                    cantidadVasosBebidas: indicadores.cantidadVasosBebidas,
                });
            }).catch(error => {
                reject(error);
            });
        });
    },
    data () {
        return {
            preparadores: [
                {text: "El mismo", value: 1},
                {text: "Padre o Madre", value: 2},
                {text: "Conyuge", value: 3},
                {text: "Los compra", value: 4}
            ],
            horasHambre: [
                {text: "Madrugada", value: 1},
                {text: "Por la mañana", value: 2},
                {text: "Medio dia", value: 3},
                {text: "Tarde", value: 4},
                {text: "Tarde-noche", value: 5},
                {text: "Noche", value: 6}
            ],
            tiposApetito: [
                {text: "Bueno", value: 1},
                {text: "Malo", value: 2},
                {text: "Regular", value: 3},
            ],
            guardandoDatos: false
        };
    },
    methods: {
        guardarDatos(){
            if (! this.comidasAlDia || ! this.idPreparaAlimentos
                || !this.idTipoApetito || !this.idHoraMasHambre
                || !this.cantidadVasosAguaDia || !this.cantidadVasosBebidas) {
                    this.warningMessage("No debe haber campos sin llenar");
                    return;
                }
            this.guardandoDatos = true;
            this.$graph(`
                mutation {
                    updateIndicadoresDieteticos(idPaciente: ${this.$route.params.id}
                        comidasAlDia: ${this.comidasAlDia}
                        idPreparaAlimentos: ${this.idPreparaAlimentos}
                        idTipoApetito: ${this.idTipoApetito}
                        idHoraMasHambre: ${this.idHoraMasHambre}
                        cantidadVasosAguaDia: ${this.cantidadVasosAguaDia}
                        cantidadVasosBebidas: ${this.cantidadVasosBebidas}) {
                        id
                    }
                }
            `).then(() => {
                this.successMessage("Datos guardados");
                this.$router.push("/pacientes/consultas/indicadoresdieteticos/" + this.$route.params.id);
                this.guardandoDatos = false;
            }).catch(error => this.errorMessage(error));
        }
    }
};
</script>
