<template>
    <n-spinner v-if="cargandoDatos"></n-spinner>
    <v-layout v-else row wrap style="margin-top: 30px;">
        <v-flex xs12 text-xs-center class="title">
            Consumo por grupo alimentico
        </v-flex>
        <v-flex xs12>
            <v-btn
                @click="cargarDatos"
                :loading="cargandoDatos"
                small color="primary">Recargar</v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
            <canvas ref="canvas" width="400px"></canvas>
        </v-flex>
    </v-layout>
</template>

<script>
import Chart from "chart.js";
import messager from "../../mixins/messager";
export default {
    mixins: [messager],
    data () {
        return {
            chart1: undefined,
            data: [],
            labels: [],
            colores: [],
            cargandoDatos: true,
            arrayColores: [
                "198, 220, 255",
                "198, 250, 255",
                "235, 188, 242",
                "242, 164, 200",
                "185, 149, 237",
                "239, 183, 148",
                "226, 223, 113",
                "107, 224, 187",
                "85, 141, 214",
                "27, 109, 45",
                "198, 220, 255",
                "198, 250, 255",
                "235, 188, 242",
                "242, 164, 200",
                "185, 149, 237",
                "239, 183, 148",
                "226, 223, 113",
                "107, 224, 187",
                "85, 141, 214",
                "27, 109, 45",
                "198, 220, 255",
                "198, 250, 255",
                "235, 188, 242",
                "242, 164, 200",
                "185, 149, 237",
                "239, 183, 148",
                "226, 223, 113",
                "107, 224, 187",
                "85, 141, 214",
                "27, 109, 45",
            ],
        };
    },
    methods: {
        createChart () {
            const chartContainer = this.$refs.canvas.getContext("2d");
            // eslint-disable-next-line no-use-before-define
            this.chart1 = new Chart(chartContainer, {
                type: "doughnut",
                data: {
                    datasets: [{
                        data: this.data,
                        backgroundColor: this.colores,
                    }],
                    labels: this.labels
                },
            });
        },
        cargarDatos(){
            this.cargandoDatos = true;
            this.$graph(`{
                getConsumoPromedio {
                    nombre
                    consumo
                }
            }`).then(data => {
                const registros = data.getConsumoPromedio;
                this.data = [];
                this.labels = [];
                this.colores = [];
                let index = 0;

                registros.forEach(registro => {
                    this.data.push(registro.consumo);
                    this.labels.push(registro.nombre);
                    this.colores.push(
                        `rgba(${this.arrayColores[index]}, 0.9)`
                    );
                    index++;
                    if (index >= this.arrayColores.length) {
                        index = 0;
                    }
                });
                this.cargandoDatos = false;
                this.$nextTick(() => {
                    this.createChart();
                });
            }).catch(error => this.errorMessage(error));
        },
    },
    mounted () {
        this.cargarDatos();
    },
};
</script>
