<template>
    <n-spinner v-if="cargandoDatos"></n-spinner>
    <v-layout v-else row wrap style="margin-top: 30px;">
        <v-flex xs12 text-xs-center class="title">
            Intensidades de ejercicio por edad
        </v-flex>
        <v-flex xs12>
            <v-btn
                @click="cargarDatos"
                :loading="cargandoDatos"
                small color="primary">Recargar</v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
            <canvas ref="canvas" width="400px"></canvas>
        </v-flex>
    </v-layout>
</template>

<script>
import Chart from "chart.js";
import messager from "../../mixins/messager";
export default {
    mixins: [messager],
    data () {
        return {
            chart1: undefined,
            intensidades: [],
            rangos: [
                [0,20],
                [21,40],
                [41,60],
                [61,80],
                [81,100],
            ],
            colors: [
                "198, 220, 255",
                "198, 250, 255",
                "235, 188, 242",
                "242, 164, 200",
                "185, 149, 237",
                "239, 183, 148",
                "226, 223, 113",
                "107, 224, 187",
                "85, 141, 214",
                "27, 109, 45",
            ],
            dataSets: [],
            cargandoDatos: true,
        };
    },
    methods: {
        createChart () {
            const chartContainer = this.$refs.canvas.getContext("2d");
            // eslint-disable-next-line no-use-before-define
            this.chart1 = new Chart(chartContainer, {
                type: "bar",
                data: {
                    labels: this.intensidades,
                    datasets: this.dataSets
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        },
        cargarDatos(){
            this.cargandoDatos = true;
            this.$graph(`{
                getIntensidadesFisicas {
                    id
                    nombre
                }
            }`).then(data => {
                const intensidades = data.getIntensidadesFisicas;

                this.intensidades = [];
                intensidades.forEach(intensidad => {
                    this.intensidades.push(intensidad.nombre);
                });

                this.dataSets = [];
                this.rangos.forEach( (rango, index) => {
                    const setData = [];

                    let queryTotales = "{";
                    intensidades.forEach(intensidad => {
                        queryTotales += `a${intensidad.id}:getIntensidadFisicaPorEdad(
                            idIntensidad: ${intensidad.id}
                            minimo: ${rango[0]}
                            maximo: ${rango[1]}) {
                            total
                        }`;
                    });
                    queryTotales += "}";

                    this.$graph(queryTotales).then(res2 => {
                        Object.keys(res2).forEach(key => {
                            setData.push(res2[key].total);
                            this.createChart();
                        });
                    }).catch(error => console.log(error));

                    this.dataSets.push({
                        label: `${rango[0]} a ${rango[1]} años`,
                        data: setData,
                        backgroundColor: `rgba(${this.colors[index]}, 0.9)`,
                        borderColor: `rgba(${this.colors[index]},1)`,
                        borderWidth: 1
                    });
                });

                this.cargandoDatos = false;
                this.$nextTick(() => {
                    this.createChart();
                });
            }).catch(error => {
                console.log(error);
                this.errorMessage(error);
            });
        },
    },
    mounted () {
        this.cargarDatos();
    },
};
</script>
