<template>
    <n-spinner v-if="cargandoDatos"></n-spinner>
    <v-layout v-else row wrap style="margin-top: 30px;">
        <v-flex xs12 text-xs-center class="title">
            Padecimientos por genero
        </v-flex>
        <v-flex xs12>
            <v-btn
                @click="cargarDatos"
                :loading="cargandoDatos"
                small color="primary">Recargar</v-btn>
        </v-flex>
        <v-flex xs12 text-xs-center>
            <canvas ref="canvas" width="400px"></canvas>
        </v-flex>
    </v-layout>
</template>

<script>
import Chart from "chart.js";
import messager from "../../mixins/messager";
export default {
    mixins: [messager],
    data () {
        return {
            chart1: undefined,
            padecimientos: [],
            dataMujeres: [],
            dataHombres: [],
            cargandoDatos: true,
        };
    },
    methods: {
        createChart () {
            const chartContainer = this.$refs.canvas.getContext("2d");
            // eslint-disable-next-line no-use-before-define
            this.chart1 = new Chart(chartContainer, {
                type: "radar",
                data: {
                    labels: this.padecimientos,
                    datasets: [
                        {
                            label: "Mujeres",
                            data: this.dataMujeres,
                            backgroundColor: "rgba(255, 99, 132, 0.2)",
                            borderColor: "rgba(255,99,132,1)",
                            borderWidth: 1
                        },
                        {
                            label: "Hombres",
                            data: this.dataHombres,
                            backgroundColor: "rgba(64, 103, 165, 0.2)",
                            borderColor: "rgba(64, 103, 165,1)",
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        },
        cargarDatos(){
            this.cargandoDatos = true;
            this.$graph(`{
                getReportePadecimientosPorSexo{
                    nombre,
                    totalMujeres,
                    totalHombres
                }
            }`).then(data => {
                const registros = data.getReportePadecimientosPorSexo;
                this.padecimientos = [];
                this.dataMujeres = [];
                this.dataHombres = [];

                registros.forEach(registro => {
                    this.padecimientos.push(registro.nombre);
                    this.dataMujeres.push(registro.totalMujeres);
                    this.dataHombres.push(registro.totalHombres);
                });
                this.cargandoDatos = false;
                this.$nextTick(() => {
                    this.createChart();
                });
            }).catch(error => this.errorMessage(error));
        },
    },
    mounted () {
        this.cargarDatos();
    },
};
</script>
